@font-face{
  font-family: montes-bold;
  src: url('../font/Montserrat/Montserrat-Bold.ttf');
}

@font-face{
  font-family: montes-ebold;
  src: url('../font/Montserrat/Montserrat-ExtraBold.ttf');
}
@font-face{
  font-family: montes-italic;
  src: url('../font/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face{
  font-family: montes-light;
  src: url('../font/Montserrat/Montserrat-Light.ttf');
}
body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'montes-ebold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "montes-bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "montes-bold";
}
p {
  color: #8f8f8f;
}

#title {
  background-color: #ff6754;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}





div.a {
  margin-top: 25px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
}



/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "montes-light";
}

 /* Download Button */

 .download-button {
   margin: 5% 3% 5% 0;
 }

 /* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* Feature section styling */ 
#features {
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section styling */
#testimonials {
  text-align: center;
  background-color: #ff6754;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* Press Section styling  */
#press {
  background-color: #ff6754;
  text-align: center;
  padding-bottom: 4%;
}

.press-Logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  height: 500px;
}

/* pricing section styling */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}


/* Call to Action  */

#cta {
  background-color: #ff6754;
  padding: 7% 15%;
  color: #fff;
  text-align: center;
}

.cta-header {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'montes-ebold', sans-serif;
}

/* Footer section style */
#footer {
  text-align: center;
}

.social-icn {
  margin: 20px 10px;
}


@media(max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(25deg);
  }
}

